.top_header {
  background: url(/img/header_bg.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative; }
  .top_header .box_menu {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid white;
    padding: 0 20px; }
    .top_header .box_menu .menu {
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid red; }
      .top_header .box_menu .menu .box_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 100%; }
        .top_header .box_menu .menu .box_logo .top_logo {
          height: 50px; }
        .top_header .box_menu .menu .box_logo .txt_logo {
          color: white;
          font-size: 46px; }
          .top_header .box_menu .menu .box_logo .txt_logo::after {
            content: "";
            display: block;
            width: 70px;
            height: 2px;
            background: white; }
      .top_header .box_menu .menu .top_nav {
        width: 500px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid coral; }
        .top_header .box_menu .menu .top_nav a {
          color: white;
          text-decoration: none;
          font-family: 'Ubuntu', sans-serif; }
          .top_header .box_menu .menu .top_nav a:hover {
            color: #00e1ff; }
      .top_header .box_menu .menu .hamburger_menu {
        width: 35px;
        height: 22px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer; }
        .top_header .box_menu .menu .hamburger_menu:hover .line_hamburger {
          border: 0.5px solid #00e1ff; }
        .top_header .box_menu .menu .hamburger_menu .line_hamburger {
          width: 100%;
          height: 1px;
          border: 0.5px solid white; }
  .top_header .box_privet {
    width: 600px;
    height: calc(100vh - 71px);
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .top_header .box_privet .privet {
      width: 100%; }
      .top_header .box_privet .privet h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 36px;
        transform: translateY(-50px);
        animation-name: h1;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards; }
      .top_header .box_privet .privet h2 {
        font-family: 'Open Sans', sans-serif;
        text-align: right;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 30px;
        transform: translateY(50px);
        animation-name: h2;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards; }
        .top_header .box_privet .privet h2 span {
          font-weight: bold; }
    .top_header .box_privet .mouse {
      width: 20px;
      height: 35px;
      border: 1px solid white;
      border-radius: 8px;
      position: absolute;
      bottom: 5px;
      display: flex;
      justify-content: center;
      padding-top: 3px; }
      .top_header .box_privet .mouse .koleso {
        width: 4px;
        height: 9px;
        background: white;
        border-radius: 4px;
        animation-name: koleso;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; }
  .top_header .mobile_menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .top_header .mobile_menu #m_close {
      position: absolute;
      top: 20px;
      right: 20px; }
    .top_header .mobile_menu a {
      color: white;
      text-decoration: none;
      font-family: 'Ubuntu', sans-serif;
      font-size: 26px; }
      .top_header .mobile_menu a:hover {
        color: #00e1ff; }
      .top_header .mobile_menu a:not(last-child) {
        margin-bottom: 10px; }

@keyframes h1 {
  100% {
    transform: translateY(-5px); } }

@keyframes h2 {
  100% {
    transform: translateY(5px); } }

@keyframes koleso {
  100% {
    transform: translateY(7px); } }

.main_article {
  padding: 50px 0;
  background: #eeeeee; }
  .main_article h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .main_article h3::before {
      content: "";
      display: inline-block;
      width: 70px;
      border: 0.5px solid black;
      vertical-align: middle; }
    .main_article h3::after {
      content: "";
      display: inline-block;
      width: 70px;
      border: 0.5px solid black;
      vertical-align: middle; }
  .main_article .box_new {
    max-width: 1200px;
    margin: 0 auto; }
    .main_article .box_new .box_zag {
      width: 100%;
      height: 500px; }
      .main_article .box_new .box_zag .img_zag {
        width: 100%;
        height: 400px;
        background: url(/img/gl-new1.jpg) center no-repeat;
        background-size: cover; }
      .main_article .box_new .box_zag .txt_zag {
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #1b1b1b, #313131);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px; }
        .main_article .box_new .box_zag .txt_zag .name_zag {
          color: white;
          font-size: 36px;
          text-transform: uppercase;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
        .main_article .box_new .box_zag .txt_zag .number_zag {
          color: greenyellow;
          font-size: 50px; }
    .main_article .box_new .box_text {
      width: 100%;
      padding: 20px 10px;
      background: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      .main_article .box_new .box_text h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 20px; }
      .main_article .box_new .box_text .txt_1 {
        margin-bottom: 20px; }
        .main_article .box_new .box_text .txt_1::first-letter {
          font-size: 30px;
          color: fuchsia;
          font-weight: bold; }
        .main_article .box_new .box_text .txt_1::first-line {
          font-weight: bold; }
      .main_article .box_new .box_text .txt_2 {
        word-spacing: 40px;
        letter-spacing: 10px;
        margin-bottom: 20px; }
        .main_article .box_new .box_text .txt_2::before {
          content: "Before";
          color: mediumvioletred;
          font-weight: bold; }
        .main_article .box_new .box_text .txt_2::after {
          content: "After";
          color: mediumvioletred;
          font-weight: bold; }
      .main_article .box_new .box_text .txt_3 {
        margin-bottom: 20px;
        font: bold italic 16px/2 arial,sans-serif; }

.box_pre_mix {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .box_pre_mix .pre {
    width: 500px;
    height: 300px;
    border: 1px solid firebrick;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; }
  .box_pre_mix .mix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border: 1px solid navy;
    background: white; }
    .box_pre_mix .mix .square_black {
      width: 150px;
      height: 150px;
      background: black; }
    .box_pre_mix .mix .txt_hello {
      font-family: 'Times New Roman', Times, serif;
      font-size: 60px;
      font-weight: bold;
      transform: translateX(-70px);
      mix-blend-mode: difference;
      color: white; }
