doctype html
html(lang="ru")
   head
      title= pageTitle
   body
      h1 Pug - node template engine
      #container.col
      p.txt_1
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, iusto?cd..