doctype html
html(lang="ru")
   head
      meta(charset="utf-8")
      meta(name="description" content="Описание страницы")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="/css/reset.css")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="stylesheet", href="/css/media.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap")
      link(rel="icon", href="/img/favicon.png")
      title Сайт на PUG
   body
      //ХЕДЕР==============================================
      header.top_header
         .box_menu
            .menu
               .box_logo
                  img.top_logo(src="/img/logo8.svg", alt="")
                  p.txt_logo Irkstat.
               //Верхнее меню навигации====================
               nav.top_nav
                  a(href="#") Главная
                  a(href="#") Статистика
                  a(href="#") Анализ
                  a(href="#") Блог
               .hamburger_menu(id="h_menu")
                  .line_hamburger
                  .line_hamburger
                  .line_hamburger
         .box_privet
            .privet
               h1 Недвижимость #[br] Иркутска
               hr.polosa_privet
               h2 Анализ рынка #[br] #[span недвижимости]
            .mouse
               .koleso
         nav.mobile_menu(id="m_menu")
            a(href="#" id="m_close") X
            a(href="#") Главная
            a(href="#") Статистика
            a(href="#") Анализ
            a(href="#") Блог
      //НОВОСТИ============================================
      article.main_article
         h3 Новости irkstat
         .box_new
            .box_zag
               .img_zag
               .txt_zag
                  p.name_zag Новости высоких технологий
                  p.number_zag 153
            .box_text
               h4 НЛО разделилось на шесть частей #[br] на глазах у пассажира самолета!
               p.txt_1 Еще одно интересное наблюдение НЛО имело место с борта самолета, летевшего из Южной Кореи в   Таиланд. Пассажир, сидящий на против крыла, увидел таинственный объект, который во время полета разделился на шесть частей.
               p.txt_2 К сожалению, автор видео не указал дату этого события. Однако, учитывая, что самые ранние записи инцидента появились 11 апреля, можно предположить, что само наблюдение имело место еще в начале этого месяца. Стоит, наверное, добавить, что видео не было размещено в сети самим свидетелем события. Единственные возможные варианты – это канал YT Pen News и Daily Mail, причем второй ссылается на первый.
               p.txt_3 В соответствии с описанием ситуации на видео на канале Pen News, свидетель первоначально считал, что белый свет, который он видит за илюминатором, является другим самолетом. Мужчина решил, что это редкая модель и решил записать пролет второго самолета. Только позже он понял, что снятое им не может быть обычным воздушным транспортным средством. Объект на его глазах разделился на шесть частей, которые начали светиться ярким светом.
               pre Почти сразу после появления видео в интернете большинство зрителей канала YT Pen News
      //MIX BLEND MODE=====================================
      section.box_pre_mix
         .pre
            p H#[sub 2]O#[sup 2]
            p H#[sup 2]SO#[sup 4]
            p F#[sub 2]HL#[sup 2]
            p Au#[sup 2]Hl#[sup 2]
         .mix
            .square_black
            p.txt_hello Hello
      //ИЗОБРАЖЕНИЯ========================================
      section.box_image
         figure.img_1.box_img
            img(src="/img/k1.jpg", alt="" class="img_fil")
            figcaption Осень
         figure.img_2.box_img
            img(src="/img/k2.jpg", alt="" class="img_fil")
            figcaption Сакура
         figure.img_3.box_img
            img(src="/img/k3.jpg", alt="" class="img_fil")
            figcaption Лето
      //СЕКЦИЯ ГРАДИЕНТА
      section.grad
         h3 Линейный и радиальный градиент
         .grad_lin_red
            .boxgrad.grd_1
            .boxgrad.grd_2
            .boxgrad.grd_3
            .boxgrad.grd_4
            .boxgrad.grd_5
         h3 Повторяющийся градиент
         .grad-repeat
            .boxgrad.gradient_1
            .boxgrad.gradient_2
            .boxgrad.gradient_3
            .boxgrad.gradient_4
            .boxgrad.gradient_5
            .boxgrad.gradient_6
      //СЕКЦИЯ ТРАНСФОРМАЦИИ
      section.transform
            .bgrd.bgrd_1
               .boxi.trans_1 1
            .bgrd.bgrd_2
               .boxi.trans_2 2
            .bgrd.bgrd_3
               .boxi.trans_3 3
            .bgrd.bgrd_4
               .boxi.trans_4 4
            .bgrd.bgrd_5
               .boxi.trans_5 5
            .bgrd.bgrd_6
               .boxi.trans_6 6
            .bgrd.bgrd_7
               .boxi.trans_7 7
      //СЕКЦИЯ ТАБЛИЦЫ
      section.num_table
         .box_num
            .num_1
               ol.ol_1
                  li +79145600147
                  li +79145026400
               ul.ul_1
                  li +79248932004
                  li +79240369801
            .num_2
               ol.ol_2
                  li Смирнов В.А.
                     ul.ul_2
                        li +79026983046
                        li +79026002118
                  li Иванов Д.П.
                     ul.ul_2
                        li +79866632970
                        li +70268911543
         .box_table
            table
               tr
                  th Выберите комплект
                  th Стандарт
                  th Голд
                  th Премиум
               tr
                  td Основной видеокурс
                  td: img(src="../img/galochka.png", alt="")
                  td: img(src="../img/galochka.png", alt="")
                  td: img(src="../img/galochka.png", alt="")
               tr
                  td Продвинутый видеокурс
                  td: img(src="../img/krest.png", alt="")
                  td: img(src="../img/galochka.png", alt="")
                  td: img(src="../img/galochka.png", alt="")
               tr
                  td VIP-модуль
                  td: img(src="../img/krest.png", alt="")
                  td: img(src="../img/krest.png", alt="")
                  td: img(src="../img/galochka.png", alt="")
               tr
                  td
                  td #[strong 1500] руб.
                  td #[strong 2500] руб.
                  td #[strong 3500] руб.
               tr
                  td
                  td: a(href="#") Заказать
                  td: a(href="#") Заказать
                  td: a(href="#") Заказать




      script(src="/js/menu.js")