doctype html

html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="description" content="Описание страницы")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/css/keyframes_style.css")
	body
		//ХЕДЕР==============================================
		header.key_header
			video.header_video(src="/video/drips.mp4" autoplay loop)
			h1.key_h1 Недвижимость иркутск
			h2.key_h2 Статистика рынка недвижимости
		//СЕКЦИЯ ЗВОНОК======================================
		section.call