doctype html

html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="description" content="Описание страницы")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/css/keyframes_style.css")
	body
		//ХЕДЕР==============================================
		header.key_header
			|
			|
			video.header_video(src="/video/drips.mp4" autoplay loop)
			|
			|
			h1.key_h1 Недвижимость иркутск
			h2.key_h2 Статистика рынка недвижимости
		//СЕКЦИЯ ЗВОНОК======================================
		section.call
			.box_call
				.square
			.box_call
				.circle
					.box_trubka
						img.img_trubka(src="/img/phone_4307.png", alt="")
					p.txt_01 Кнопка #[br] связи
			.box_call
				.fint
					.fint_img.fi_1
					.fint_img.fi_2
					.fint_img.fi_3
					.fint_img.fi_4
					.fint_img.fi_5
			.box_call
				.box_green
					.b_rgr
						.b_img