footer.footer_general
   .box_address
      p Иркутская область, г.Иркутск
      p E-mail:
         a(href="irkstat@yandex.ru") irkstat@yandex.ru
   .box_social
      |
      |
      img(src="/img/socseti/i1.png", alt="")
      |
      |
      img(src="/img/socseti/i2.png", alt="")
      |
      |
      img(src="/img/socseti/i3.png", alt="")
      |
      |
      img(src="/img/socseti/i4.png", alt="")
      |
      |
      img(src="/img/socseti/i5.png", alt="")
      |
      |