.stringbl-table-statistika-general
	.region-table-statistika-general Иркутск
	.dn-table-statistika-general
		p 56 350
		p.percent-green +0,6%
	.dn-table-statistika-general
		p 58 530
		p.percent-green +1,4%
	.dn-table-statistika-general
		p 55 340
		p.percent-red -4,0%
	.dn-table-statistika-general
		p 56 780
		p.percent-red -0,4%
.string-table-statistika-general
	.region-table-statistika-general Вторичка
	.dn-table-statistika-general
		p 58 710
		p.percent-green +0,8%
	.dn-table-statistika-general
		p 62 760
		p.percent-green +2,7%
	.dn-table-statistika-general
		p 55 340
		p.percent-red -4,0%
	.dn-table-statistika-general
		p 58 570
		p.percent-red -0,1%
.string-table-statistika-general
	.region-table-statistika-general Новостройка
	.dn-table-statistika-general
		p 49 090
		p.percent-green +0,7%
	.dn-table-statistika-general
		p 52 810
		p.percent-red -0,2%
	.dn-table-statistika-general
		p -
		p.percent-green -
	.dn-table-statistika-general
		p 51 150
		p.percent-green +0,2%
//Ленинский район
.stringbl-table-statistika-general
	.region-table-statistika-general Ленинский
	.dn-table-statistika-general
		p 51 410
		p.percent-green +2,8%
	.dn-table-statistika-general
		p 52 600
		p.percent-green +2,1%
	.dn-table-statistika-general
		p 51 810
		p.percent-green +1,2%
	.dn-table-statistika-general
		p 51 840
		p.percent-green +2,0%
.string-table-statistika-general
	.region-table-statistika-general Вторичка
	.dn-table-statistika-general
		p 52 630
		p.percent-green +3,1%
	.dn-table-statistika-general
		p 54 700
		p.percent-green +1,8%
	.dn-table-statistika-general
		p 51 810
		p.percent-green +1,2%
	.dn-table-statistika-general
		p 52 610
		p.percent-green +2,0%
.string-table-statistika-general
	.region-table-statistika-general Новостройка
	.dn-table-statistika-general
		p 45 170
		p.percent-red -1,0%
	.dn-table-statistika-general
		p 47 210
		p.percent-red -0,5%
	.dn-table-statistika-general
		p -
		p.percent-green -
	.dn-table-statistika-general
		p 46 210
		p.percent-red -0,8%
//Октябрьский район
.stringbl-table-statistika-general
	.region-table-statistika-general Октябрьский
	.dn-table-statistika-general
		p 67 780
		p.percent-green +0,3%
	.dn-table-statistika-general
		p 74 190
		p.percent-green +2,6%
	.dn-table-statistika-general
		p 67 070
		p.percent-red -0,8%
	.dn-table-statistika-general
		p 69 990
		p.percent-green +1,0%
.string-table-statistika-general
	.region-table-statistika-general Вторичка
	.dn-table-statistika-general
		p 71 370
		p.percent-green +2,6%
	.dn-table-statistika-general
		p 78 350
		p.percent-green +1,4%
	.dn-table-statistika-general
		p 67 070
		p.percent-red -0,8%
	.dn-table-statistika-general
		p 72 020
		p.percent-green +1,6%
.string-table-statistika-general
	.region-table-statistika-general Новостройка
	.dn-table-statistika-general
		p 60 190
		p.percent-red -3,7%
	.dn-table-statistika-general
		p 67 940
		p.percent-green +1,9%
	.dn-table-statistika-general
		p -
		p.percent-green -
	.dn-table-statistika-general
		p 64 490
		p.percent-red -0,9%
//Правобережный район
.stringbl-table-statistika-general
	.region-table-statistika-general Правобережный
	.dn-table-statistika-general
		p 66 750
		p.percent-red -0,5%
	.dn-table-statistika-general
		p 63 600
		p.percent-green +5,9%
	.dn-table-statistika-general
		p 62 140
		p.percent-green +3,1%
	.dn-table-statistika-general
		p 65 110
		p.percent-green +1,4%
.string-table-statistika-general
	.region-table-statistika-general Вторичка
	.dn-table-statistika-general
		p 67 370
		p.percent-red -1,0%
	.dn-table-statistika-general
		p 65 220
		p.percent-green +0,8%
	.dn-table-statistika-general
		p 62 140
		p.percent-green +3,1%
	.dn-table-statistika-general
		p 65 860
		p.percent-red -0,1%
.string-table-statistika-general
	.region-table-statistika-general Новостройка
	.dn-table-statistika-general
		p 59 340
		p.percent-green +5,1%
	.dn-table-statistika-general
		p 62 140
		p.percent-green +13,6%
	.dn-table-statistika-general
		p -
		p.percent-green -
	.dn-table-statistika-general
		p 61 400
		p.percent-green +11,2%
