.stringbl-table-statistika-general
.region-table-statistika-general Иркутск
.dn-table-statistika-general
p	56 350
p.percent-green	+0,6%
.dn-table-statistika-general
p	58 530
p.percent-green	+1,4%
.dn-table-statistika-general
p	55 340
p.percent-red	-4,0%
.dn-table-statistika-general
p	56 780
p.percent-red	-0,4%
